extends layout

append head
	link(href="/stylesheets/book.css" rel="stylesheet" type="text/css")
	link(href='https://fonts.googleapis.com/css?family=Cantarell|Montserrat' rel='stylesheet')
block content 
	.container.inner-container
		.row
			.col-md-6
				h4 Request log
				if requests
					.formdiv
						h6 Your requests
						ul.list-group
							each request in requests
									li.list-group-item.list-group-item #{request.wanted.author}: #{request.wanted.title}
				else 
					.formdiv
						h6 Your requests
						p You currently have no requests.
				if offers
					.formdiv
						h6 Your offers
						ul.list-group
							each offer in offers
									li.list-group-item.list-group-item #{offer.wanted.author}: #{offer.wanted.title}
				else
					.formdiv
						h6 Your offers
						p You currently have no offers.
			.col-md-6
				h4 Add a book
				if msg
					p.msg=msg
				form.formdiv(action="/book" method="post")
					.form-group
						label(for='Author') Author
						input#author.form-control(type='text', placeholder='Naomi Klein', name="author", required)
					.form-group
						label(for='title') Title
						input#title.form-control(type='text', placeholder='This Changes Everything', name="title", required)
					.form-group
						label(for='cover') URL to cover
						input#cover.form-control(type='text', placeholder='http://website.com/image.jpg', name="cover")
					button.btn.btn-info#submit(type="submit") Add book
		.row
			.inner-container
				h4 Your books
				if books
					.books-container
						each book in books
							.book-container
								img.cover(src=book.cover, alt="cover")
								p.btext.toptext #{book.author}
								p.btext #{book.title}
				else 
					p You have no books yet